<!DOCTYPE html>
<html>
<head>
	<title>单选题</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		ul{
			list-style: none;
			padding-left:0;
			border-bottom:1px solid #ebebeb;
		}
		p{
			margin:0;
			padding:1px 0;
			margin-bottom:.6rem;
		}
	</style>
</head>
<body style="padding:1rem;margin:0">
<div id="app">
<ul v-for="(item,index) in list" key="index">
	<li>
		<p>{{index+1}}.{{item[0]}}:   <span style="font-weight: 600;">{{item[3]}}</span></p>
<!-- 		<p :style="{background:item[1].replace(' ','')=='A'?'yellow':'white'}">{{item[2].indexOf("A")!=0?'A.'+item[2]:item[2]}}</p>
		<p :style="{background:item[1].replace(' ','')=='B'?'yellow':'white'}">{{item[3].indexOf("B")!=0?'B.'+item[3]:item[3]}}</p>
		<p :style="{background:item[1].replace(' ','')=='C'?'yellow':'white'}">{{item[4].indexOf("C")!=0?'C.'+item[4]:item[4]}}</p>
		<p :style="{background:item[1].replace(' ','')=='D'?'yellow':'white'}">{{item[5].indexOf("D")!=0?'D.'+item[5]:item[5]}}</p>
		<p :style="{background:item[1].replace(' ','')=='E'?'yellow':'white'}">{{item[6].indexOf("E")!=0?'E.'+item[6]:item[6]}}</p> -->
<!-- 		<p :style="{background:item[1].indexOf('A')!=-1?'yellow':'white'}">{{'A.'+item[2]}}</p>
		<p :style="{background:item[1].indexOf('B')!=-1?'yellow':'white'}">{{'B.'+item[3].replace("B.","").replace("B","").replace("B ","")}}</p>
		<p :style="{background:item[1].indexOf('C')!=-1?'yellow':'white'}">{{'C.'+item[4].replace("C.","").replace("C","").replace("C ","")}}</p>
		<p :style="{background:item[1].indexOf('D')!=-1?'yellow':'white'}">{{'D.'+item[5].replace("D.","").replace("D","").replace("D ","")}}</p>
		<p :style="{background:item[1].indexOf('E')!=-1?'yellow':'white'}">{{'E.'+item[6].replace("E.","").replace("E","").replace("E ","")}}</p> -->


		<p v-if="!isUnd(item[4])" :style="{background:item[3].indexOf('A')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'A.'+item[4]}}</p>
		<p v-if="!isUnd(item[5])" :style="{background:item[3].indexOf('B')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'B.'+item[5]}}</p>
		<p v-if="!isUnd(item[6])" :style="{background:item[3].indexOf('C')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'C.'+item[6]}}</p>
		<p v-if="!isUnd(item[7])" :style="{background:item[3].indexOf('D')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'D.'+item[7]}}</p>
		<p v-if="!isUnd(item[8])" :style="{background:item[3].indexOf('E')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'E.'+item[8]}}</p>
	</li>
</ul>
</div>
</body>
<script src="./vue.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    list:[
["每班必须按时交接班，接班者提前（）分钟到岗，做好接班前准备。","","单选题","C",5,10,15,30,""],
["三查八对指：姓名、（）、药物名称、剂量、浓度、时间、用法、药品有效期。","","单选题","B","科室","住院号","手腕带","床号",""],
["接班后如因交班不清，发生差错事故或物品遗失，应由（）负责。","","单选题","B","交班者","接班者","护士长","交班者和接班者",""],
["输血前由两名医护人员再次核对交叉配血试验报告单及发血单及血袋标签各项内容，检查血液的有效期、血袋装置、血液质量，（）确认并在输血登记本上记录。","","单选题","B","双人","PDA扫码","复述","",""],
["检查血袋有无破损渗漏、血液外观质量是否正常、核对无误后PDA扫码接收领血，并在（）及领血单上签名后方可取回。","","单选题","B","血袋","交叉配血报告","发血单","血库登记本",""],
["抢救时执行医生口头医嘱时须复诵两次，医生确认无误后再执行，执行时实行双人核对，并保留所有的安瓿，经两人核对后方可弃之。","","单选题","A","是","否","","",""],
["特级护理：标识为橘黄色 ；一级护理：标识为（）；二级护理：标识为绿色；三级护理：无","","单选题","A","红色","紫色","黄色","蓝色",""],
["二级护理至少每（）小时巡视患者，观察患者病情变化。","","单选题","C","半小时","1小时","2小时","2-3小时",""],
["一级护理要求每日测量患者体温、脉搏、呼吸、血压、（）等生命体征。","","单选题","C","意识","皮温","疼痛","氧饱和度",""],
["因抢救病人未能及时记录，应当在抢救结束后（）内据实补记。","","单选题"," A ","6h","12h","24h","72h",""],
["抢救时执行医生口头医嘱时须（），医生确认无误后再执行","","单选题","B","立即执行","复诵两次","复诵一次","告知上级医师",""],
["对特别重大的抢救患者，要成立全院抢救小组，由（）任抢救小组组长。","","单选题","B","科主任","抢救室主任","应急梯队组长","医院分管院长",""],
["血红蛋白小于（）提示存在重度贫血。","","单选题","C","30克","40克","50克","60克",""],
["低钾危急值时，以下哪种临床表现最危急（）。","","单选题","A","心率失常","四肢无力","腹胀","恶心呕吐",""],
["手术核查的主要目的不包括以下哪项（）。","","单选题","C","保障患者手术安全","防止手术部位错误","提高手术效率","避免手术器械遗留在患者体内",""],
["抽取用于血型初次鉴定和血交叉配血的标本应当在（）时间段采集，紧急输血时除外。","","单选题","B","相同","不同","相隔10分钟","相隔一天",""],
["输血时，应当由()医护人员到患者床旁分别核对患者床号、姓名、性别、年龄、住院号或电子设备身份认证。","","单选题","B","一名","两名","三名","四名",""],
["输血执行者必须具备（）及以上资质的护士。","","单选题","B","N0","N1","N2","N3",""],
["根据药品的种类与性质，标识清晰，内服药为（）。","","单选题","B","红色变","蓝色边","黑色边","黄色边",""],
["发生Ⅰ类、Ⅱ类不良事件当事人即刻（）口头或电话逐级汇报护士长、科护士长及护理部。","","单选题","C","2分钟","5分钟","10分钟","15分钟",""],
["（）必须单独存放，标志醒目。","","单选题","C","高警示药品","毒精麻类药品","高警示药、毒精麻类药品","所有药品",""],
["发现毒、精、麻类药品丢失，立即（）。","","单选题","A","逐级汇报","向护士长汇报","向科主任汇报","向护理部汇报",""],
["以下哪种情况下，护士需要对患者进行身份识别？","","单选题","D","发药时","护理操作时","病房巡视时","以上情况都是",""],
["对无名患者身份标识方法和核对流程错误的是？","","单选题","C","给患者戴上腕带，腕带上可采用无名氏+磁卡后6位数+编号+性别等的组合","如需急诊检查、手术、住院等各类单子均填无名氏","白天报告护理部，夜间报告值班护士长，联系政府相关部门协助确认患者身份","患者身上的一切物品打包保存，贵重物品在贵重物品登记本上记录，双人签名，专柜上锁保存",""],
["转运交接时双方应评估患者的内容不包括的是（）。","","单选题","B","生命体征","家属情况","导管情况","皮肤情况",""],
["护士在关键流程的转运中要做到四个交清：患者生命体征、治疗、皮肤情况、各种导管要交清。","","单选题","B","对","错","","",""],
["凡在我院住院、急诊抢救、留观的患者，均应佩戴手腕带，确保在院期间（）中正确识别患者。","","单选题","B","输液","各项诊疗活动","输血","用药",""],
["腕带上的信息由住院处打印，除床号、血型、药物过敏由病区（）填写，须有两位医护人员核对正确，并与患者本人或家属彼此确认，方可佩戴。","","单选题","A","当班护士","责任护士","辅助班","办公班",""],
["发生Ⅰ类、Ⅱ类事件当事人即刻（ ）口头或电话逐级汇报护士长、科护士长及护理部，2小时内医院OA系统上报。","","单选题","A","10分钟内","30分钟内","1小时内","24小时内",""],
["Ⅱ类事件：发生不良事件，（）。","","单选题","B","未造成患者伤害","且造成患者伤害","造成患者死亡","",""],
["传染病患者使用（）腕带：","","单选题","B","蓝色","黄色","红色","",""],
["用《MORSE跌倒危险因素评估单》进行评估，总分＞ （）分为高风险患者。","","单选题","B",48,45,40,35,""],
["低中风险患者每周评估（）次，高风险患者每周评估（）次。","","单选题","C","1次，1次","2次，2次","1次，2次","2次，1次",""],
["儿童：凡新入院的大于1岁的患儿均需要根据《Humpty Dumpty儿童跌倒风险评估表》进行评估，总分≥（）分为高风险患者。","","单选题","B",10,12,15,9,""],
["各病区应在（）小时内完成所有入院患者皮肤评估，应用“Braden压力性损伤风险评估表”作出评分。","","单选题","B",12,2,6,24,""],
["Braden评分≤（）分高风险患者每周评估2次，每班进行跟踪记录。","","单选题","C",15,18,12,10,""],
["护理工作中重点环节的应急管理应当遵守预防为主、常备不懈的方针，贯彻依据科学、统一领导、（）、措施果断、加强合作的原则。","","单选题","C","积极响应","沟通及时","反应及时","上下联动",""],
["科室在护理工作中的关键环节管理中，应该有严格的规章制度,在突发重点环节应急处理中，科室应该实行统一领导、统一指挥、责任追究。","","单选题","B","是","否","","",""],
["做好术后护理评估，内容：手术情况（麻醉方式、手术方式、术中出血、输血输液等）、神志、生命体征、疼痛、切口引流、营养状况、心理状态、用药情况、安全风险评估等。","","单选题","A","是","否","","",""],
["根据（）等对护士进行综合考评，将考评结果与护士薪酬分配、晋升、评优等相结合，体现多劳多得、优劳优酬。","","单选题","A","工作量、护理质量、患者满意度","工作量、护理资质、满意度","工作量、患者满意度、护理质控","工作量、护理资质、纠纷投诉",""],
["建立优质护理服务管理委员会，由医院（）等相关部门主要负责人组成，主任委员由医院的院长或分管院长担任，每季度召开会议，研究解决优质护理工作存在的有关问题。","","单选题","C","院办、财务、人事、后勤、绩效","人事、财务、设备、后勤、绩效","人事、财务、医务、后勤、绩效","科研、财务、医务、后勤、绩效",""],
["危重急救患者收治，由（）通知相应病区，病区护士为患者准备床位，备齐抢救用物。","","单选题","B","抢救室医生","抢救室护士","病区值班医生","病区床位医生",""],
["危重患者应安置在重病室，积极配合医师紧急处理，并做好（）。","","单选题","C","汇报","通知护士长","记录","安抚家属",""],
["责任护士根据出院医嘱，提前通知患者及家属，告知（），带好付款凭证到出入院处办理结帐手续。","","单选题","A","结账流程","注意事项","用药指导","出院时间",""],
["结合病区收治的病种、（）等特点，对患者、家属进行健康知识普及和安全防范教育，也可利用工休座谈会进行相关内容的传播。","","单选题","D","患者的特殊性","病情变化","床位设置","季节变化",""],
["护士长、（）定期对病人健康教育实施情况进行评估、调查，及时反馈，提高健康教育有效性。","","单选题","C","主管医生","科护士长","护理部","医务科",""],
["护理人员对门诊及住院患者均应根据病情和（）进行健康教育。","","单选题","D","自理能力","卫生状况","营养状况","心理状况",""],
["出院患者首次随访：一般患者出院后(  )内。","","单选题","B","当天","3天","5天","7天",""],
["需长期治疗的慢性患者或疾病恢复慢的患者出院后再次随访时间(  )。","","单选题","C","3天","1周","1-2周","2周",""],
["患者享有不公开自己的病情、家庭史、接触史、（  ）、异常生理特征等个人生活秘密的自由权利，医院及其工作人员不得非法泄露。","","单选题","C","年龄","性别","身体隐私部位","婚育史",""],
["对特殊疾病的患者，护理人员床头交接时不应交接(   )，为患者保守医密。","","单选题"," A ","医疗诊断","特殊检查","特殊用药","",""],
["未经患者许可、授权，不得将其疾病及相关隐私信息传播给他人。","","单选题","A","是","否","","",""],
["各级医护人员诊治时，不得泄漏患者的隐私，不在患者及家属面前讨论不应讨论的病情和治疗问题，不准拿患者的秘密作为谈笑的资料。","","单选题","A","是","否","","",""],
["入院接待时询问患者宗教信仰及民族，如是少数民族，应从语言、（ ）、治疗方式、生活习惯等各方面给予充分尊重。","","单选题","B","经济","饮食","家庭","习俗",""],
["回、维吾尔、哈萨克、乌孜别克等少数民族信奉伊斯兰教，认为（ ）是“不洁净”的食物，禁止食用和身体上的接触，甚至禁止言语提及。","","单选题","D","鱼肉","鸡肉","牛肉","猪肉",""],
["佛教饮食方面：禁吃“（）”和“（）”，包括有异味的大蒜、大葱、韭菜等。","","单选题","C","猪肉、牛肉","酒类、烟草","荤、腥","油腻、辛辣",""],
["护理部应根据各护理单元工作特点、工作量配备一定人力，各科每班的人力由（）自行安排，合理调配。","","单选题"," B","护理组长","护士长","高年资护士","",""],
["同一护理单元遇产假、病假（）人以上，先由科护士长在大科内调配人力，如大科内碰到病假护士多无法调配，则由护理部在全院内调配，确保工作不受影响。","","单选题","B",1,2,3,4,""],
["2.病区床位使用率小于85%，一级护理病人不足（），护士长实行弹性排班，上报1～2名机动护士录入护理人力资源储备库，参加全院护理人力资源调配。","","单选题","B","5%","10%","15%","20%",""],
["护理人员在日常工作中应采取最基本的防护措施","","单选题","E","穿工作服","工作鞋","戴口罩","帽子","以上都是"],
["正确处理医疗锐器，避免发生锐器伤，其中错误的是","","单选题","E"," 锐器及用后的针头直接放入耐刺、防渗漏的利器盒中","禁止手持锐器随意走动","禁止用手直接接触使用后的针头、刀片等锐器","禁止将针等锐器随手传递"," 禁止将使用后的一次性针头重新套上针头帽，如果必须套回一定要双手操作"],
[" 发生放射性职业暴露的处理，错误的是","","单选题","C","立即关闭放射源，脱离放射工作环境，告知同工作场合旳医务人员离开","上报院感办、医务科、分管院长和区疾病控制中心，填写“职业暴露个案登记表”"," 院感办接到报告后评估职业暴露情况，并在48小时内根据相关疾病防治规范采取预防措施与心理疏导","院感办负责对职业暴露当事人提供咨询和跟踪随访","查找事故原因，配合上级部门对现场进行勘察以及环保安全技术处置"],
["计量仪器根据要求必须定期接受计量部门检验，并有合格标志。监护仪、除颤仪、心电图机强检（）次/年，水银血压计强检（）次/年，无创血压计强检（）次/年。其余设备日常维护保养，做好记录，确保临床使用安全有效。","","单选题","B","1,1,1","1,2,1","","",""],
["部分抢救车启用封存管理，封存期（）个月，急救应用随时启封。；抢救车封存由抢救车保管人员负责，封存前逐一核对物品、药品，无（）个月内过期失效，确保帐物相符，护士长核查后双人签名并封存。","","单选题","B",3,6,3,3,"","",""],
["定期保养包括：办公室班（）清洁保养一次；保管人（）清洁保养一次并记录；设备科（）检修。","","单选题","D","每日，每周，每月","每日，每周，每季度","每日，每月，定期","每日，每周，定期",""],
["加强宣传工作，在全院营造“以病人为中心”的服务理念，为患者提供优质护理服务，并在工作中不断总结经验，倡导主动服务意识，让更多的患者受益。","","单选题","B","是","否","","",""],
["优质护理服务是全院共同的工作目标，最终达到六个满意包括：","","单选题","C","患者满意、社会满意、领导满意、护士满意、医生满意、医院满意","家属满意、社会满意、政府满意、护士满意、医生满意、医院满意","患者满意、社会满意、政府满意、护士满意、医生满意、医院满意","患者满意、社区满意、政府满意、护士满意、医生满意、医院满意",""],
["护理人员绩效量化考核处罚","","单选题","E","患者投诉","护理不良事件","三基理论考试不及格","迟到或早退","以上都是"],
["  废弃物处理，错误的是","","单选题","D","废弃化疗安瓿、小瓶，用完后立即放入带盖密闭的桶内，并及时处理","安瓿中如有剩余药液不可直接丢弃，应放入密闭容器后丢弃","配制化疗药物后的垃圾应按有毒垃圾处理装入黄色垃圾袋","加强病房通风换气次数","盛垃圾容器要加盖并及时处理"],
["其他职业防护错误的是","","单选题","E","易产生气溶胶的操作应在防喷溅罩下进行","进行有噪声操作时应佩戴耳塞","接触高温物品时须戴防烫手套","采用正确的搬运姿势，防止腰背扭伤、挫伤","如发生眼部、黏膜暴露，立即用清水冲洗5分钟"],
["发生输血发应，保留（）和输液器。","","单选题","A","血袋","输液袋","针头","血型",""],
["输血过程中严密监测和记录患者（）、有无不适主诉，及时发现输血不良反应。","","单选题","C","血压","体温","生命体征","氧饱和度",""],
["发生输血反应后，报告主管医师及护士长，并遵医嘱积极配合抢救，做好基础护理，预防并发症，必要时请（）协助调查发生输血反应的原因。","","单选题","D","产房","护士","医生","输血科",""],
["输血前由两名医护人员再次核对交叉配血试验报告单及发血单及血袋标签各项内容，检查血液的有效期、血袋装置、血液质量，（）确认并在输血登记本上记录。","","单选题"," A ","双人","PDA扫码","复述","输血科",""],
["输血时，由两名医护人员共同到病员床旁确认患者身份信息、血型、交叉配血试验报告单及发血单结果与血袋标签信息相符，再次核对血液的有效期、血袋装置、血液质量，（）确认无误输血。","","单选题","B","双人","PDA扫码","复述","输血科",""],
["发生药物不良反应时，应（）。病情严重者准备好抢救药品及物品并给予氧气吸入。","","单选题","D","立即停止用药","保留静脉通路","更换输液器及液体","全选",""],
["用药前询问药物过敏：（）不做药物敏感试验；凡有过敏史者禁做该药过敏试验。","","单选题","A","空腹状态","饱腹状态","暴躁状态","焦虑状态",""],
["输液前应询问患者（），按医嘱正确配制药液，注意配伍禁忌？","","单选题","A","过敏史","健康史","既往史","家族史",""],
["发现患者出现输液反应，立即停止输液，保持静脉通路，（）。","","单选题","D","更换输液器和液体","查对换下液体名称及批号","输液器批号","全选",""],
["发生化学药物外渗记录外渗发生（）、局部皮肤情况、输液工具、药物药名、浓度和剂量、处理措施","","单选题","D","时间","部位","范围","全选",""],
["化疗药物外渗后（）内，宜给予干冷敷或冰敷。","","单选题","C","6～12小时","12～24小时","24～48小时","48～72小时",""],
["沙利铂、植物碱类化疗药物外渗可给予干热敷，温度不宜超过（）？","","单选题","C","30～40℃","40～50℃","50～60℃","60～70℃",""],
["肿瘤患儿温度不宜超过（）？","","单选题","A","39℃","40℃","41℃","42℃",""],
["化疗药物外渗后，宜给予干冷敷或冰敷，每次（）分钟。","","单选题","A","15～20分钟","25～30分钟","30～35分钟","35～40分钟",""],
["化疗药物外渗后，抬高患者肢体，避免受压。局部肿胀明显，可给予（）硫酸镁、如意金黄散等湿敷。","","单选题","B",0.25,0.5,0.75,1,""],
["外渗部位未痊愈时，禁止在其周围及（）再行各种穿刺。","","单选题","A","远心端","近心端","不同肢体","不同部位",""],
["三查八对指：姓名、（）、药物名称、剂量、浓度、时间、用法、药品有效期。","","单选题","D","床号","科室","手腕带","住院号",""],
["化疗药物外渗后，在处理过程中，要（），做好（），（）以取得配合，减少护患冲突。以下？正确的是（）","","单选题","D","关心体贴患者","心理护理","减轻患者恐惧","不闻不问",""],
["标本采集发生意外，皮下出血后，（）冷敷？","","单选题","D","4小时","8小时","12小时","24小时",""],
["标本采集发生意外，皮下出血后，（）热敷？","","单选题","D","4小时","8小时","12小时","24小时",""],
["采集静脉血误抽动脉血时，立即拔出针头，紧压穿刺处皮肤（），直至无出血为止，再重新穿刺抽血，并做好解释安慰。","","单选题","B","5min","5~10min","10min","15min",""],
["采血时患者出现晕针或晕血时，立即停止穿刺，患者取（），解松衣带，注意保暖，指压人中、足三里等穴位，清醒者口服温开水或糖水，一般数分钟后即可自行缓解，适当休息。","","单选题","A","平卧位","半卧位","左侧卧位","右侧卧位",""],
["若患者出现呼吸、心跳骤停，应配合医生进行（）。","","单选题","D","胸外心脏按压","气管插管","呼吸辅助呼吸","全选",""],
["哪项不是跌倒的原因？","","单选题","D","不服老","高估自我","不愿他人照顾","有陪护",""],
["护士对跌倒的有效预防措施有哪些（）？","","单选题","D","指导正确使用呼叫系统","服特殊药物或检查出现的不良反应的进行告知","可能出现体位性低血压患者采取渐进式下床方式","全选",""],
["深静脉导管滑脱后，观察穿刺部位有无出血，有出血时用无菌敷料按压至少（）小时？","","单选题","B",12,24,48,72,""],
["发生深静脉导管滑脱时，立即用（）按压穿刺部位，同时通知医生。","","单选题","A","无菌敷料","酒精敷料","碘伏敷料","生理盐水敷料",""],
["深静脉导管滑脱后，观察滑脱导管，如发现（），迅速通知医生配合处理。","","单选题","A","破损","一致","完整","全选",""],
["患者发生药物误服，有质疑时应适当解释，避免冲突发生；（）并及时书写护理记录等。","","单选题","A","妥善保管药品","标本","化验结果","全选",""],
["发生护理不良事件后，应本着患者（）第一的原则。","","单选题","A","安全","心情","容貌","全选",""],
["发生药物过敏反应，胃肠道过敏（）有哪些？","","单选题","D","恶心、呕吐、","腹痛","腹泻","全选",""],
["发生药物过敏反应，哪项不是皮肤过敏表现（）？","","单选题","D","皮肤瘙痒","荨麻疹","红疹","湿疹",""],
["以下哪项不是过敏性休克的临床表现（）？","","单选题","D","胸闷","面色苍白","脉细弱","血压上升",""],
["发生药物过敏反应，立即0.1%盐酸肾上腺素皮下注射（）","","单选题","A","0.5ml","0.5～1ml","1ml","2ml",""],
["一旦发生过敏性休克，应立即停止用药，将患者就地平卧抢救，呼叫援助，吸氧并注意保暖，快速建立有效静脉通道，优先选择（）。","","单选题","A","平衡液","右旋糖酐","羟乙基淀粉注射液","白蛋白",""],
["在翻身或活动过程中，防止管路（）、扭曲、滑脱。","","单选题","A","折叠","扭曲","滑脱","受压",""],
["告知患者各种管路的作用、重要性、及（），以便取得患者的配合。","","单选题","D","作用","重要性","应急措施","注意事项",""],
["发生窒息抢救结束后，（）h内据实记录护理过程。","","单选题","C",2,4,6,8,""],
["发生窒息后，鼓励患者（），将残留的血块、痰液、食物咳出，保持口腔清洁，床单位整洁。","","单选题"," A ","咳嗽","吸氧","头偏向一侧","头低脚高",""],
["有自杀倾向的告知家属（）小时陪伴，做好水果刀、剪刀等锐器的保管。","","单选题","A",24,12,8,6,""],
["发现病人发生烫伤立即剪去烫伤物、（）、水冲减轻疼痛。","","单选题","C","冻伤物","首饰","脱衣","假牙",""],
["患者突发昏迷后评估及判断昏迷（）、昏迷原因。","","单选题","C","状况","方式","程度","原因",""],
["患者昏迷后用何种量表评估？","","单选题"," A ","Glasgow","Corn","Caprini","Braden",""],
["观察患者意识、（）、瞳孔、尿量变化。","","单选题","A","生命体征","意识","瞳孔","尿量",""],
["职业暴露有（）、化学性、及放射性。","","单选题","C","气性","化学性","血源性","生物性",""],
["化学性粘膜暴露后流动水冲洗（）以上。","","单选题","B","5分钟","15分钟","20分钟","30分钟",""],
["发生职业暴露后如有伤口，应当轻轻由（）向远心端挤压，尽量挤出损伤处旳血液， 再用肥皂水和流动水进行冲洗。","","单选题","C","伤口局部","远心端","近心端","粘膜处",""],
["正确使用约束具，方法可靠，松紧适宜（以能插入 （） 指为宜）， 不 影响血循环 。","","单选题","A",1,2,3,4,""],
["躁动患者根据病情遵医嘱给予镇静药物， 同时协助医生通知家属并交代病情 及约束具使用的目的 、方法， 获家属知情同意书， 要求家属（） 小时陪护。。","","单选题","D",6,8,12,24,""],
["每 （） 小时解开约束带 5-10 分钟， 观察约束部位血液 循环情况并记录， 并协助翻身 、按摩 。认真做好床边交接班。。","","单选题","C",4,3,2,1,""],
["凡遇到（） 、复杂 、批量 、紧急抢救的突发事件应及时向护理部及总值班报告，护理部应积极组织人力实施救护 。","","单选题"," A ","重大","复杂","批量","紧急抢救",""],
["院感办接到报告后评估职业暴露情况， 并在 （） 小时内根据相关疾病防治规范采取预防措施与心理疏导。","","单选题","D",2,6,12,24,""],
["预防坠积性大手术患者术前（）周戒烟，注意保暖及口腔卫生，预防呼吸道感染 。","","单选题","A","一","二","三","四",""],
["对长期卧床患者定时（）、拍背，鼓励患者咳嗽、咳痰。","","单选题","D","局部按摩","抬高下肢","拍背","翻身",""],
["以下何种管路滑脱后需立即密闭伤口处皮肤。","","单选题","C","鼻氧管","三腔管","胸管","T管",""],
["窒息异物堵塞时：先用海姆立克急救法，必要时使用（）、支气管镜、气管切开取出异物，或行插管、环甲膜穿刺，以解除通气障碍。","","单选题"," A ","喉镜","胃镜","支气管镜","纤维镜",""],
["有自杀倾向者，及时评估有自杀倾向患者的风险程度，采取相应预防措施；深入病房，及时发现患者的心理变化，给予心理疏导。","","单选题","A","是","否","","",""],
["患者意外自杀后无需报告保卫科。","","单选题","B","是","否","","",""],
["患者自杀后如抢救无效，应保护现场（病房及病房外现场），妥善处置尸体配合公安部门现场拍照及收集资料。","","单选题","A","是","否","","",""],
["昏迷患者留置导尿，以便观察尿量、尿色和尿比重等变化。","","单选题","A","是","否","","",""],
["昏迷患者无需开放气道及清除异物。","","单选题","B","是","否","","",""],
["昏迷患者有颅内压增高者， 脱水降颅压同时给予脑保护措施， 头部置冰枕或戴冰帽等。","","单选题","A","是","否","","",""],
["院感办负责督促职业暴露当事人按时进行疫苗接种和化验并提供咨询和跟踪随访。","","单选题","A","是","否","","",""],
["发生职业暴露受伤部位旳伤口冲洗后， 应当用消毒液， 如用 双氧水进行消毒， 并包扎伤口。","","单选题","B","是","否","","",""],
["化学性皮肤职业暴露后接触高浓度化学药物或消毒剂后及时用大量流动清水冲洗，用淡肥皂水清洗。","","单选题","A","是","否","","",""],
["接到多发创伤患者时立即开辟绿色通道，优先处置伤者。遵循抢救原则，迅速、准确、有效的实施护理抢救措施，确保抢救的顺利进行， 预防并发症的发生。","","单选题","A","是","否","","",""],
["批量多发伤患者快速判断、正确分诊（登记、编号），汇报护理部，总值班，医务科。","","单选题","A","是","否","","",""],
["长期卧床患者，必须根据医嘱给予雾化吸入。","","单选题","B","是","否","","",""],
["对使用呼吸机或气管切开患者更应加强呼吸道护理，注意无菌作，及时吸痰。","","单选题","A","是","否","","",""],
["清醒患者发生窒息时鼓励患者咳嗽，将残留的血块、痰液、食物咳出，保持口腔清洁，床单位整洁。。","","单选题","A","是","否","","",""],
["临床信息系统出现故障时，手工填写治疗单、输液单、摆药单等。住院病人用药凭（）到住院药房取药。","","单选题","A","借药单","治疗单","医嘱单","输液卡",""],
["胰岛素与（）同用，可增加低血糖风险。","","单选题","D","噻嗪类","糖皮质激素","β受体激动药","乙醇",""],
["胰岛素与（）同用，可使血糖升高。","","单选题","D","噻嗪类","糖皮质激素","β受体激动药","以上都是",""],
["使用胰岛素的不良反应有（）。","","单选题","D","皮下脂肪萎缩、增生","过敏反应","低血糖反应","以上都是",""],
["突发泛水，首先寻找原因，自行解决，不能解决时，应及时通知（）及院总值班。","","单选题","B","总务科","后勤管理处","医务科","院办",""],
["使用降糖药物发生低血糖反应时，  测定血糖水平以明确诊断，通知医生，意识障碍者，应立即（）。","","单选题","D","口服30～40g糖类食物（葡萄糖为佳）","口服20～30g糖类食物（葡萄糖为佳）","50%葡萄糖液20～40ml静脉注射","50%葡萄糖液40～60ml静脉注射",""],
["使用胰岛素时，乙醇与胰岛素同用可（）低血糖风险。","","单选题","A","增加","降低","","",""],
["使用降糖药物的患者出现低血糖反应，血糖在3.9mmol/L以上，但距离下一次就餐时间（）时，应给予含淀粉或蛋白质食物。","","单选题","A","＞1h","＞2h","＜1h","＜2h",""],
["使用降糖药物发生低血糖反应时，  测定血糖水平以明确诊断，通知医生，意识清楚者，应立即（）。","","单选题","D","给予蛋白质食物","静脉注射50%葡萄糖液20～40ml","口服20～30g糖类食物（葡萄糖为佳）","口服15～20g糖类食物（葡萄糖为佳）",""],
["计算机网络故障超过（）不能排除，应启动应急预案。","","单选题","B","10分钟","15分钟","20分钟","25分钟",""],
["使用胰岛素出现低血糖反应时，血糖值≤（）可表现为交感神经兴奋和中枢神经症状。","","单选题","C","2.8mmol/L","3.0mmol/L","3.9mmol/L","6.1mmol/L",""],
["发生刺激性药物外渗时，局部封闭应在超出外渗部位（ ）处进行。","","单选题","B","0.1～ 0.3cm","0.5 ～ 1cm"," 1 ～ 1.5cm","0.5 ～ 2cm",""],
["医院突发火灾，火势较小时，行动自如病人应（）。","","单选题","C","等待医护人员救援撤离","自行寻找安全出口撤离","由医护人员指挥自行撤离","留在原地等待火势变小",""],
["火灾发生后，当火势较大时应首先（）。","","单选题","C","疏散患者","抢救贵重仪器","确保人员安全","拨打 119 报警",""],
["医院病房安全管理制度要求，应经常检查（  ），发现隐患及时维修并确保安全通道通畅。","","单选题","A","电源、线路、插座","门窗、桌椅","消防器材","医疗设备",""],
["使用灭火器时，应站在（）。","","单选题","B","下风处","上风处","侧风处","任意位置",""],
["火灾发生后疏散患者，不能（）。","","单选题","C","走安全通道","用湿毛巾捂住口鼻","乘坐电梯","以最低姿势摸墙感温",""],
["下列哪种药物不属于刺激性细胞毒性药物（  ）。","","单选题","C","环磷酰胺","脂质体 - 阿霉素","氮芥","奥沙利铂",""],
["发疱性药物外渗后，利用原针头抽吸皮下药液后，拔针用干棉球按压多久（  ）。","","单选题","C","5min 左右","10min 左右","3min 左右","4min 左右",""],
["蒽环类药物局部外渗处理应冷敷的温度和时间是（  ）。","","单选题","B","2℃ ～ 4℃，12 ～ 24h，2 ～ 3 次/天，每次 10 ～ 15min","4℃ ～ 6℃，24 ～ 48h，3 ～ 4 次/天，每次 15 ～ 20min","6℃ ～ 8℃，48 ～ 72h，4 ～ 5 次/天，每次 20 ～ 25min","8℃ ～ 10℃，72 ～ 96h，5 ～ 6 次/天，每次 25 ～ 30min",""],
["静脉使用细胞毒性药物前，应使用（  ），以免发生外渗。","","单选题","B ","灭菌用水    ","引导液","50%葡萄糖溶液  ","甘露醇",""],
["细胞毒性药物外渗时，若为发疱性药物，处理措施错误的是（  ）。","","单选题","C","立即停止输注，利用原针头接无菌注射器多方向强力抽吸","拔针后用干棉球按压3min 左右","所有发疱性药物外渗均用冷敷处理","记录外渗部位、药物名称、浓度及局部反应",""],
["血液领出血库后( )分钟内进行输血。","","单选题","B",20,30,40,60,""],
["血制品输注开始（ ）分钟内速度宜慢。","","单选题","D",2,5,10,15,""],
["意外停蒸汽后，非紧急用品采用（ ）浸泡。","","单选题","C","5%戊二醛","10%戊二醛","2%戊二醛","3%戊二醛",""],
["意外停蒸汽后，非高危物品用（ ）消毒。","","单选题"," A ","煮沸","辐射","环氧乙烷","2%戊二醛",""],
["输血制品前，哪项检验可以不做（）。","","单选题","D","乙肝两对半","梅毒","艾滋病","流感检测",""],
["定期检查供暖系统，一旦发生故障，立即通知（ ）。","","单选题","B","护理部","修理组","保卫科","院部",""],
["血制品冻结时，可加温使用（）。","","单选题","B","对","错","","",""],
["下列哪项不是意外停暖后的处理（）。","","单选题","A","继续进行选择性手术","准备取暖用物：取暖器、热水袋、棉被等","对病人做好解释工作","通知修理组，上报院部总值班",""],
["下列哪项不是意外停蒸汽后的处理（）。","","单选题","D","通知修理组并上报院部","急需器械采用快速高压消毒锅","寻找替代器械或消毒方法","短时间无法恢复，自驾去附近医院消毒灭菌",""],
["血制品等生物制剂应单独使用，注意配伍禁忌，必要时可用（ ）。","","单选题","B","血管收缩药","5%葡萄糖或氯化钠稀释","蛋白水解酶","含酒精溶剂的注射药",""],
["输血开始15分钟内速度宜慢，逐渐加速至每分钟≤（ ）毫升，无异常方可离开。","","单选题","A",2,3,4,5,""],
["血液领出血库后( )小时内必须输完。","","单选题","B",3,4,5,6,""],
["青霉素类药物用药前皮试必须询问 “三史”，以下不属于 “三史” 的是（ ）。","","单选题","B","用药史","生育史","过敏史","家族史",""],
["青霉素类制剂在补液单上应贴何种标识（ ）。","","单选题","B","蓝底白字 “青” 字","红底白字 “青” 字","绿底白字 “青” 字","黄底白字 “青” 字",""],
["青霉素类药物用药前需备好的抢救用药是（ ）。","","单选题","A","0.1％盐酸肾上腺素 1ml","去甲肾上腺素 1ml","多巴胺 1ml","异丙肾上腺素 1ml",""],
["青霉素类药物出现呼吸道不良时，不包括以下那个症状（）。","","单选题","C","哮喘","喉头痉挛","鼻出血","",""],
["青霉素类药物发生过敏性休克时，不会出现以下哪种症状（ ）。","","单选题","A","血压升高","面色苍白","烦躁","大小便失禁",""],
["青霉素类药物观察不良反应后应按什么流程处理（ ）。","","单选题","B","《普通药物处理流程》","《药物不良反应报告流程》、《发生药物过敏反应时护理应急处理流程及应急预案》","《外科用药处理流程》","《内科用药处理流程》",""],
["使用胰岛素前检查发现药物有变色、变质、浑浊、结冰、絮状物等异常情况，应（ ）。","","单选题","B","继续使用","禁止使用","静置片刻后再使用","",""],
["特殊科室在停水期间用水需求应（ ）。","","单选题","C"," 等待医院统一安排","自行想办法解决","提前协调解决","不用特殊处理",""],
["突然停水后急需大量用水应（ ）。","","单选题","C","只使用储备水","等待供水恢复","与有关部门联系","减少用水操作",""],
["医务人员在停水期间手消毒应使用（ ）。","","单选题","B","普通洗手液","免水洗消毒剂","清水冲洗","酒精棉球擦拭",""],
["接到停水通知后，应做好哪项措施（ ）。","","单选题","B","启动储备用水","通知患者停水时间","手消毒用免水洗消毒剂","特殊部门启动双路供水系统",""],
["突然发生停水时，下面措施哪项是错误的（ ）。","","单选题","D","启动储备用水","手消毒用免水洗消毒剂","急需大量用水与有关部门联系","通知患者停水时间，协助备好饮用水和生活用水",""],
["青霉素不良反应包括恶心、呕吐、腹痛及（）。","","单选题","D","皮肤瘙痒、荨麻疹","哮喘、喉头痉挛","过敏性休克","以上都是",""],
["使用青霉素，发生过敏性休克时，临床表现有（）。","","单选题","D","胸闷、烦躁","血压降低","大小便失禁","以上都是",""],
["青霉素类药物用药前需要注意的事项有皮试前问“三史”、（ ）,补液时注意滴速，不宜过快。","","单选题","D","现配现用","备好抢救用药","注意药物配伍禁忌","以上都是",""],
["意外停电处理不正确的是（）。","","单选题","C","通知医生","通知总值班","通知医务科","通知电工维修",""],
["意外停电后护士应及时（ )。","","单选题","A","了解危重患者及仪器设备运转情况","了解普通患者情况","了解家属情况","",""],
["心血管药物使用的胃肠道反应（）。","","单选题","D","恶心","呕吐","腹痛","以上都是",""],
["使用心血管药物不会出现的视觉异常（）。","","单选题","D","视物模糊","黄视","绿视","嗜睡",""],
["使用心血管药物循环系统的不良反应（）。","","单选题","B","呼吸困难","血压下降","胸痛","水肿",""],
["发生心血管药物不良反应后的处理不正确的是（）。","","单选题","C","通知医生","按医嘱处理","无需特殊处理，护士自行观察病情","记录护理记录单",""],
["心血管药物用药时不正确的是（）。","","单选题","A","无需稀释","控制滴数","观察不良反应","注意配伍禁忌",""],
["停电后加强巡视的目的，其中不正确的是（）。","","单选题","D","维护秩序","防火","防盗","防走失",""],
["病区内要如何做好日常用电的管理（）。","","单选题","D","备应急照明设施","合理用电","掌握电动仪器的替代方法","以上都是",""],
["临床护理用药中，根据（ ）调整血管活性药物滴速。","","单选题","D","心律","心率","血压","病情",""],
["使用血管活性药物时需要监测患者血压、心律、心率、呼吸和( )。","","单选题","A","血氧饱和度","尿量","神志","体温",""],
["血管活性药物可以加入碱性液体（）","","单选题","B","是","否","","",""],
["意外停氧时，危重、使用呼吸机的患者应使用（ ）。","","单选题","C","氧气筒吸氧","备用氧气袋吸氧","简易呼吸器替代","暂停使用呼吸机，加强观察",""],
["当突然停氧时，使用简易呼吸机的患者必须立即脱开呼吸机，予以 （ ）维持呼吸。","","单选题","C","电除颤","心肺复苏","简易呼吸器","口对口人工呼吸",""],
["各病区应备有氧气筒及（ ），并呈备用状态，以防发生突发停氧。","","单选题","A","氧气袋","制氧机","无创呼吸机","",""],
["血管活性药物不易引起静脉炎（）","","单选题","B","是","否","","",""],
["血管活性药物出现外渗，应立即  停止输注，（ ）。","","单选题","B","拔针","回抽渗于皮下的药液","生理盐水冲管","热敷",""],
["血管活性药物外渗妥善处理后，不需要观察皮肤的（ ）。","","单选题","A","湿度","肿胀","弹性","疼痛",""],
["使用血管活性药物后，变更药物时不可继续使用原输注管路（ ）","","单选题","A","是","否","","",""],
["初始使用血管活性药物后或剂量调整时，每(  )进行监测。","","单选题","A","5～15分钟","10～15分钟","15～30分钟","30～60分钟",""],
["发生意外停氧后，护理人员应立即（ ）。","","单选题","A","了解用氧患者及使用呼吸机患者情况，并使用替代方法","通知医生","检查氧气筒及氧气袋","打电话通知维修部门",""],
["皮下注射时，针头刺入角度不宜超过多少度？","","单选题","C","15度","30度 ","45度","60度",""],
["皮内注射时，进针角度应为多少度？","","单选题","A","5～10度","15～30度 ","30～45度","45～60度",""],
["静脉治疗中，轻型的发热反应处理措施不包括以下哪项？","","单选题","C","减慢滴速","保暖","增加滴速","物理降温",""],
["以下哪项是医用黏胶相关性皮肤损伤（MARSI)的处理措施？","","单选题","C","正确选择与规范使用黏胶产品","加强专业人员MARSI预防培训及患者宣教","观察皮肤颜色、温度、完整性等情况并做好记录","在穿刺部位涂抹外用药膏以保护皮肤",""],
["以下哪项不是皮下注射的常见并发症？","","单选题","A","神经性损伤","疼痛","出血","硬结形成",""],
["静脉治疗时，若发生空气栓塞，患者应立即采取什么体位？","","单选题","C","坐位","右侧卧位","左侧卧位和头低足高位","俯卧位",""],
["皮下注射后出现硬结形成，以下哪项不是预防措施？","","单选题","C","选择注射点要分散","注射药量以少于2ml为宜","注射时针头斜面向上与皮肤呈90°刺入","严格执行无菌技术原则",""],
["导管相关性血流感染（CRBSI）的处理措施中，以下哪项是错误的？","","单选题","D","立即停止输液","拔除PVC，暂时保留PICC、CVC、PORT","根据导管类型、感染微生物以及重新建立血管通路的条件确定是否拔除导管","继续使用可能感染的导管",""],
["导管堵塞的处理措施中，以下哪项是错误的？","","单选题","D","分析堵塞原因","不应强行推注生理盐水","PVC应立即拔除","强行推注生理盐水以疏通导管",""],
["发生急性肺水肿，以下哪项处理措施不正确？","","单选题","D","应立即停止输液，通知医生","病情允许下患者取端坐位，两腿下垂，以减少静脉回流，减轻心脏负担","立即加压吸氧，氧流量6～8L/分。湿化瓶给予20%～30% 酒精湿化吸氧","必要时进行四肢轮扎，每隔30分钟轮流放松一侧肢体止血带",""],
["皮内注射后发生晕厥，以下哪项不是预防措施？","","单选题","B","改善环境","快速完成注射以减少不适","加强心理护理","备好急救药品",""],
["中心静脉管路异位/移位的预防措施，哪项不正确？","","单选题","D","置管前应全面评估患者病情，选择最佳血管，并准确测量导管长度","置管过程中宜采用导管尖端定位技术确定导管尖端位置","应妥善固定导管，每日观察且每周监测导管外露长度，并与插入时所记录的长度相比较","置管后，应将置管侧肢体制动",""],
["在采集静脉血时，首选的采血部位通常是（  ）。","","单选题","B","指尖","肘前静脉","耳垂","足背静脉",""],
["以下哪种消毒剂在采血前皮肤消毒中不常用（  ）。","","单选题","D","75%乙醇","碘酒","氯已定","紫药水",""],
["静脉采血后，以下哪种行为是正确的（  ）。","","单选题","C","立即松开止血带","用力按压采血点以止血","嘱咐患者保持采血部位清洁干燥","无需按压，让血液自然凝固",""],
["动脉采血后，哪种行为可能导致血栓形成（  ）。","","单选题","A","立即让患者活动采血部位","让患者保持采血部位静止一段时间","对采血部位进行热敷","使用抗凝药物进行预防",""],
["动脉采血过程中，为了减轻患者的紧张情绪，以下哪种做法是不正确的（  ）。","","单选题","D","与患者进行沟通，解释采血过程","让患者保持放松状态","迅速完成采血操作，减少患者等待时间","采血时用力按压患者手臂以固定血管",""],
["动脉采血过程中，为了降低感染风险，以下哪种做法是正确的（  ）。","","单选题","C","使用非一次性采血针以节约成本","采血前未检查采血器具的包装是否完好","严格遵守无菌操作原则，佩戴无菌手套","采血后将采血针直接丢弃在垃圾桶中",""],
["方女士为哮喘发作病人，做超声雾化吸入，护士在操作中不妥的是（  ）。","","单选题","D","解释、核对","将口含嘴放入病人口中，嘱闭口深吸气","雾化完毕先关雾化开关，再关电源开关","若水槽内水温超过30°C立即换水",""],
["为清醒的气管插管患者吸痰时，下列哪些指导不妥（  ）。","","单选题","B","指导其自主咳嗽","告知患者应少饮水，以减少痰液产生","向患者讲解配合的方法","指导患者恢复舒适体位",""],
["哪项不是给氧的适应症（  )。","","单选题","C ","气胸","安眠药中毒","急性胃炎","哮喘",""],
["每次吸痰不宜超过15秒的最主要原因（  ）。","","单选题","C","减少患者痛苦","减轻气管黏膜受损","防止患者缺氧","避免痰液阻塞导管",""],
["对于气管插管患者，以下哪种是预防呼吸机相关性肺炎的有效措施（  ）。","","单选题"," A ","每日口腔护理","减少营养摄入","延长呼吸机使用时间","频繁更换呼吸机管路",""],
["在气道护理中，以下哪种是预防误吸的有效措施（  ）。","","单选题","B","给与高浓度氧气吸入","床头抬高30-45度","延长吸痰间隔时间","减少口腔护理次数",""],
["雾化药液容量应适当，一般为（）。","","单选题","A","2～4ml","5～7ml","8～10ml","10～12ml",""],
["保证 （） 的氧流量的条件下给予雾化吸入。","","单选题","C","2～4L/min","4～6L/min","6～8L/min","10～12L/min",""],
["雾化患者嘱患者增加每日饮水量约（）。","","单选题","B","500ml～800ml","500ml～1000ml","1000ml～1500ml","1500ml～2000ml",""],
["雾化治疗结束后，清洗雾化罐、口含嘴及管道，再用（）的含氯消毒液浸泡消毒，再洗净、晾干备用。","","单选题","B","250PPM","500PPM","1500PPM","2000PPM",""],
["真菌感染需注意口腔卫生，进行局部治疗，如用（）漱口等。","","单选题","A","2%～4%碳酸氢钠溶液","0.9%氯化钠","0.1%醋酸溶液","多贝尔溶液",""],
["正确选用灌肠溶液，确保温度在（）之间，以避免对肠道造成刺激。","","单选题","B","38～40℃","39～41℃","40～42℃","36～38℃",""],
["肛管插入时要轻柔，插入直肠（），避免插入过深导致损伤","","单选题","C","3～4cm","5～6cm","7～10cm","10～12cm",""],
["肝性脑病患者禁用（）灌肠。充血性心力衰竭和水钠潴留患者禁用生理盐水灌肠。","","单选题","A","肥皂液","生理盐水","白醋","温水",""],
["充血性心力衰竭和水钠潴留患者禁用（）灌肠。","","单选题","B","肥皂液","生理盐水","白醋","温水",""],
["保持灌肠液一定的灌注压力和速度，灌肠筒内液面应高于肛门（），速度适中。","","单选题","A","40～60cm","40～50cm","50～60cm","60～70cm",""],
["小儿灌肠每次灌注量为（）。","","单选题","B","100～200ml","200～500ml","200～300ml","300～400ml",""],
["一旦发生虚脱，应立即停止灌肠，并协助患者（），注意保暖。一般休息片刻后可缓解或恢复正常。","","单选题","A","平卧","半卧","中凹卧位","头高足低",""],
["为预防留置尿管相关感染， 应鼓励患者多饮水，无特殊禁忌时，每日饮水量达（ ）以上，以自然冲洗尿路。","","单选题","C","500ml","1000ml","2000ml","3000ml",""],
[" 对膀胱高度膨胀且又极度虚弱的患者，第一次放尿不应超（ ）。","","单选题","B","500ml","1000ml","2000ml","3000ml",""],
["对长期留置导尿管者，采用（）放尿的方法。","","单选题","C","持续","间歇","个体化","患者需要",""],
["长期留置导尿者，每天行膀胱冲洗1次，（ ）更换尿管一次。","","单选题","C","1周","2周","1月","2月",""],
["为预防留置尿管相关感染，下列哪项措施是错误的（ ）。 ","","单选题","D","严格无菌操作，动作轻柔，避免损伤尿道黏膜","保持会阴部清洁，每次大便后应清洗会阴和尿道口。","保持导尿管通畅，避免受压、扭曲、折叠、堵塞等。","如尿管误入阴道，无需更换导尿管，继续留置即可。",""],
["每次鼻饲量应控制在（ ）之间，避免过量导致反流或误吸。","","单选题","C","100ml以下","100ml～200ml","200ml～300ml","300ml～400ml",""],
["为避免鼻饲管堵塞，应当（ ）。","","单选题","D","自制的营养食品，食物充分粉碎即可。","牛奶与果汁应同时喂。","多种药物研碎后同时注入。","鼻饲前后应用温开水20ml～30ml冲洗管道。",""],
["营养液暂时不用放入4℃冰箱内保存，时间不超过（ ）。","","单选题","B","8h","24h","48h","96h",""],
["一般鼻饲液温度以（ ）为宜。","","单选题","A","37℃～40℃","38℃～45℃","45℃～50℃","50℃～60℃",""],
["冷數部位一般不宜选择（ ）。","","单选题","D","颈部","腋窝","腹股沟","枕后",""],
["轴线翻身时宜缓慢，将后路引流管置于患者的（   ），前路引流管及导尿管置于患者腹侧。","","单选题","D","左侧","右侧","腹部","背侧",""],
["椎体关节处骨折翻身角度不可超过（   ）","","单选题","B","30°","60°","90°","120°",""],
["胸腔闭式引流管脱落后，立即用凡士林纱布捂住引流口，用胶布牢固封闭，复查胸部X线，若结果报告正常，（    ）后取出凡士林纱布即可。","","单选题","D","5～6日","1周","3～4日","4～5日",""],
["呼吸机管路需每周更换（   ）次消毒。","","单选题","A",2,3,4,1,""],
["呼吸机湿化罐采用（    ），及时清理集水杯里的冷凝水。","","单选题","B","清水","无菌蒸馏水","生理盐水","灭菌注射用水",""],
["植骨块脱落术后颈部制动，可将沙袋置于颈部（   ）","","单选题","A","两侧","左侧","右侧","后枕部",""],
["胸腔闭式引流管脱落后，立即用（    ）捂住引流口。","","单选题","B","无菌纱布","凡士林纱布","无菌巾","生理盐水纱布",""],
["高压气胸应及时（   ）。","","单选题","A","引流","手术","穿刺","制动",""],
["呼吸机相关性肺炎床头抬高30°-45°，无禁忌证时取（   ）","","单选题","D","平卧位","头低脚高位","端坐位","半卧位",""],
["气管切开（   ）内护士应严密观察有无皮下气肿、纵膈气肿的发生。","","单选题","A","24小时","48小时","72小时","96小时",""],
["颈椎损伤的患者，翻身必须由（   ）操作。","","单选题","B","两人","三人","四人","一人",""],
["低分钟通气量，必要时用（   ）。","","单选题","C","肾上腺素","兴奋剂","镇静剂","利多卡因",""],
["简易呼吸器使用时，发生胃内容物返流时，复苏者让患者（），将返流出的胃内容物擦拭干净，然后继续仰卧行CPR。","","单选题","A","侧卧","半卧","仰卧","俯卧",""],
["心律失常者，同步电复律前先用（）控制心率（直至复律前1～2天停用），同时服用奎尼丁、普鲁卡因酰胺等药物以防复律后心律失常复发。","","单选题","D","硝酸甘油","硝苯地平","心得安","洋地黄",""],
["佩戴血氧饱和度探头的手指，至少每（）更换，对于存在末梢循环不良、肢端肿胀、皮肤水肿等情况的患者，每（）更换一次。","","单选题","C","2h，2h","24h，12h","4h，2h","12h，12h",""],
["动脉有创测压时，发生局部或全身出血时，用无菌纱块按压穿刺点，外包绕绷带加压包扎（），注意观察。","","单选题","C","5分钟","10分钟","20分钟","30分钟",""],
["微量泵置于高于静脉穿刺肢体（）cm，防止血液回流。","","单选题","C","5～10","10～15","10～20","15～20",""],
["预防静脉炎的措施有：严格无菌操作；长期使用浓度高、刺激性强的药物应使用（）；严格掌握药物的配伍禁忌以及合理使用静脉，及时更换静脉。","","单选题","B","外周静脉","中心静脉导管","静脉留置针","一次性头皮针",""],
["监护过程中，患者出现精神异常：如紧张、焦虑、睡眠障碍等时，根据不良情绪产生的原因给予相应的护理措施，安抚患者，转移注意力，做好心理护理，必要时遵医嘱给予（）等药物。","","单选题","B","抗抑郁","镇静抗焦虑","安眠","止痛",""],
["电极片粘贴前行规范的皮肤准备：用()或肥皂水清洗粘贴部位皮肤，用毛巾或纱布擦干，必要时去除胸部毛发；不用酒精进行皮肤准备，酒精会使皮肤干燥，减少电流。","","单选题","C","生理盐水","灭菌用水","清水","酒精",""],
["电除颤技术会使血栓脱落引起心、肺、脑、下肢栓塞，因此对怀疑心房有血栓者，电除颤（）抗凝治疗。","","单选题","C","前","后","前后","中",""],
["气管切开24小时内护士应严密观察有无皮下气肿、纵隔气肿的发生，定期检查皮下有无（）。","","单选题","B","囊肿","捻发音","硬结","瘀斑",""],
["出现室性心律失常，先电除颤，再药物治疗。","","单选题","A","是","否","","",""],
["除颤时预防局部皮肤灼伤、红瘢、疼痛的措施有：电击除颤时电极板要与皮肤紧密接触，勿留缝隙；导电糊要均匀涂抹，勿超出电极板边缘。","","单选题","A","是","否","","",""],

]
  },
  methods:{
  	isUnd(val){
  		return typeof val === 'undefined' || val === ''
  	}
  }
})
</script>
</html>
