<!DOCTYPE html>
<html>
<head>
	<title>多选题</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		ul{
			list-style: none;
			padding-left:0;
			border-bottom:1px solid #ebebeb;
		}
		p{
			margin:0;
			padding:1px 0;
			margin-bottom:.6rem;
		}
	</style>
</head>
<body style="padding:1rem;margin:0">
<div id="app">
<ul v-for="(item,index) in list" key="index">
	<li>
		<p>{{index+1}}.{{item[0]}}:   <span style="font-weight: 600;">{{item[3]}}</span></p>
<!-- 		<p :style="{background:item[1].replace(' ','')=='A'?'yellow':'white'}">{{item[2].indexOf("A")!=0?'A.'+item[2]:item[2]}}</p>
		<p :style="{background:item[1].replace(' ','')=='B'?'yellow':'white'}">{{item[3].indexOf("B")!=0?'B.'+item[3]:item[3]}}</p>
		<p :style="{background:item[1].replace(' ','')=='C'?'yellow':'white'}">{{item[4].indexOf("C")!=0?'C.'+item[4]:item[4]}}</p>
		<p :style="{background:item[1].replace(' ','')=='D'?'yellow':'white'}">{{item[5].indexOf("D")!=0?'D.'+item[5]:item[5]}}</p>
		<p :style="{background:item[1].replace(' ','')=='E'?'yellow':'white'}">{{item[6].indexOf("E")!=0?'E.'+item[6]:item[6]}}</p> -->
<!-- 		<p :style="{background:item[1].indexOf('A')!=-1?'yellow':'white'}">{{'A.'+item[2]}}</p>
		<p :style="{background:item[1].indexOf('B')!=-1?'yellow':'white'}">{{'B.'+item[3].replace("B.","").replace("B","").replace("B ","")}}</p>
		<p :style="{background:item[1].indexOf('C')!=-1?'yellow':'white'}">{{'C.'+item[4].replace("C.","").replace("C","").replace("C ","")}}</p>
		<p :style="{background:item[1].indexOf('D')!=-1?'yellow':'white'}">{{'D.'+item[5].replace("D.","").replace("D","").replace("D ","")}}</p>
		<p :style="{background:item[1].indexOf('E')!=-1?'yellow':'white'}">{{'E.'+item[6].replace("E.","").replace("E","").replace("E ","")}}</p> -->


		<p v-if="!isUnd(item[4])" :style="{background:item[3].indexOf('A')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'A.'+item[4]}}</p>
		<p v-if="!isUnd(item[5])" :style="{background:item[3].indexOf('B')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'B.'+item[5]}}</p>
		<p v-if="!isUnd(item[6])" :style="{background:item[3].indexOf('C')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'C.'+item[6]}}</p>
		<p v-if="!isUnd(item[7])" :style="{background:item[3].indexOf('D')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'D.'+item[7]}}</p>
		<p v-if="!isUnd(item[8])" :style="{background:item[3].indexOf('E')!=-1?'rgba(135, 206, 240,.4)':'white'}">{{'E.'+item[8]}}</p>
	</li>
</ul>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    list:[
["酸中毒临床表现：","","多选题","ABCE","失眠","肌肉震颤","皮肤充血","呼吸深快","血压升高"],
["重点环节包括：（）","","多选题","ABDE","用药","输血","操作","围术期管理","标本采集"],
["急救仪器设备包括：()","","多选题","ACDE","备用氧气筒","振动排痰仪","输液泵","心电图机","中心吸引"],
["急救仪器五定包括：（）","","多选题","ACE","定位放置","定期清点","定人保管","定期维修","定期消毒"],
["术前交接包括：","","多选题","ABCD","核对身份","药物","义齿","饰品","血型"],
["术后患者转运，病区护士与麻醉医生交接内容包括","","多选题","ABCE","输血输液","各种引流管路","生命体征","麻醉用药","手术方式"],
["给予患者术后健康指导包括：","","多选题","ABDE","卧位","疼痛","引流液","饮食","伤口"],
["以下情况应戴手套，脱去手套后应认真洗手","","多选题","ABC"," 接触患者血液、体液、分泌物、排泄物及其污染物品时 ","接触患者粘膜和非完整皮肤时","清理传染性患者用过的物品及进行清洁消毒时","穿工作服","接触周围环境"],
["绩效考核原则","","多选题","ABCDE","基于护理工作数量","工作质量","护理安全","患者满意度","结合护理难度及技术要求"],
["护理人员绩效量化考核奖励","","多选题","ABCDE","主动加班","突发事件加班","患者提名表扬","弥补他人工作漏洞","提出合理化建议"],
["交接班方式有哪些？","","多选题"," ABCD ","晨会集体交班","口头交班","书面交班","床旁交接","电话交接"],
["抽取血标本时，PDA扫码录入工号，采血做到（）、（）、（）。","","多选题"," ABC ","一人","一单","一管","一送",""],
["床边评估内容包括（）、（）、（）。","","多选题","ABC","确认患者","评估病情","评估自理能力","健康指导",""],
["对危重患者，每天除了（）、（），还需进行（）。","","多选题"," ABD ","口头交班","书面交班","电脑交接班","床边交接班",""],
["1.同时需输多品种的血制品液时，应（）、（）、（）","","多选题"," ABC ","首先输入成分血","其次为新鲜血","最后是库存时间长的血","无所谓先后顺序",""],
["2.输血前将血袋内成分（）、（）、（）","","多选题"," ABC ","轻轻摇匀","避免剧烈震荡","不得加温","血液内可以根据医嘱加入其它药物",""],
["医院使用统一的患者身份标识的床位卡，标识内容至少包含哪些内容？","","多选题","ABCDE","姓名、性别","出生日期","入院时间","住院号","条形码"],
["护士在关键流程的转运中要做到哪些有效？","","多选题","ABCE","有效安全转运","有效观察","有效持续治疗","有效评估","有效抢救"],
["关键流程是指（）等患者在急诊、ICU、手术室、产房、病区等部门之间的转运。","","多选题","ABCE","急危重患者","产妇","儿童","意识清楚","镇静期间"],
["护理安全（不良）事件上报途径：口头报告、网络报告（  ）、书面报告。","","多选题"," ABCD","电话86666","院内OA系统","微信","短信",""],
["跌倒/坠床预防措施（）、（）、（）、（）","","多选题"," ABCD ","告知患者穿合适的防滑鞋和裤子"," 告知患者湿性拖地后避免不必要的走动；","患者的常用物品、呼叫铃应放置在易取用的地方；","使用高跌倒风险药物及时做好告知；",""],
["对可预见的压力性损伤，使用保护性屏障敷料，新生儿常用的皮肤保护屏障敷料包括（）、（）、（）","","多选题"," ABC ","硅胶敷料","水胶体敷料","泡沫敷料","纱布",""],
["3.落实压力性损伤防范护理措施（）、（）、（）、（）","","多选题"," ABCD ","保持病衣裤及床单位的平整、清洁与干燥；正确使用防范用具（气垫床、大靠垫等）。","保持患者皮肤清洁，注意易发部位皮肤的观察。","建立翻身卡，至少每2小时翻身（抬臀），并记录翻身卡。鼓励可以自主进行体位变换的患者以20-30°的侧卧位，必须抬高床头时（如预防呼吸机相关性肺炎），保持30°或更低的高度。","对高风险患者可考虑使用预防性敷料来预防骶尾部和足跟等部位压力性损伤的发生。",""],
["责任护士应根据患者病情，做好出院指导，包括()、()、()、()及()等。","","多选题","ABCDE","出院带药服用","出院后饮食","休息","功能锻炼","复诊时间"],
["通过各种形式为患者提供心理与健康指导服务：如（）、（）、（）、（）、及视频、微信、APP等。 ","","多选题","ABCD","墙报","宣传橱","手册","处方","公众号"],
["以下哪些是随访方式？","","多选题"," ABCD ","电话随访","家庭访视","在线随访","门诊随访",""],
["各科均要建立出院病人随访记录本，内容应包括：患者姓名、床号、诊断、电话、（ ）、（ ）、（ ）、（ ）、签名等内容。","","多选题"," ABCD ","出院日期","回访日期","回访要点","反馈",""],
["随访内容包括：","","多选题"," ABCD ","用药情况","提供健康指导","定期复查","功能锻炼",""],
["道教对饮食上的忌讳：“四不吃”，即不吃（）、（）、（）、（）","","多选题"," ABCD ","牛肉","鸟鱼","鸿雁","狗肉","马肉"],
["1.护士长根据（）、（）、手术量、床位使用率、（）安排人力，实行弹性排班，但必须保证每人每周工作时间符合劳动法规定，又保证工作质量。","","多选题","BCD ","感染病人数","病人数","危重患者数","收治病种特点",""],
["发生药物不良严重反应的处理（），加强基础护理，预防并发症？","","多选题"," ABCD","立即平卧、氧气吸入","准备抢救物品，配合抢救","将余药封存，以备送检","加强巡视，监测生命体征和尿量",""],
["发生药物不良反应后如何处理用物？","","多选题"," ABD","包裹药液于无菌巾内","包裹输液器于无菌巾","直接处理掉","患者家属如有疑问时应立即按有关程序对余药进行封存。",""],
["如发生严重的过敏性休克反应时，应（），（）及（），做好抢救记录，逐级上报。","","多选题"," ABC ","立即配合抢救","严密观察生命体征","尿量","24h出入量",""],
["一旦患者出现输液反应，应（），（），同时（）。","","多选题"," ABC","立即更换液体及输液器并保留","以备送检化验","保留静脉通道","逐级上报",""],
["患者发生输液反应，及时汇报（）。","","多选题"," ABCD ","医务科","护理部","药剂科","医学装备科",""],
["发现患者出现输液反应，如何配合处理及抢救？","","多选题"," ABCD ","迅速准确执行医嘱、配合抢救 ","实施各种对症护理措施","严密观察病情","做好安抚解释工作",""],
["发生化学药物外渗，停止输液，（）。","","多选题"," ABCD ","回抽渗漏的药液","拔除导管，不过度压迫穿刺处","抬高患肢，减轻水肿","不在渗出或外渗的肢体远端再置管",""],
["发生化学药物外渗，如何妥善处理？","","多选题"," ABCD ","对症药物外用，根据药物选择冷敷或热敷","局封或遵医嘱使用解毒剂","抬高患肢，避免局部受压","局部有破溃感染时报告医生清创、换药",""],
["发生化学药物外渗，如何观察患者皮肤？","","多选题"," ABCD ","颜色","温度","弹性、感觉","疼痛",""],
["标本采集发生意外","后，哪些情况需（）重新采集？","","多选题"," ABCD ","标本量不够","溶血","凝血","影响检验结果",""],
["若患者出现术后出血，要仔细观察（），并遵医嘱应用止血药，做好第二次手术准备。","","多选题"," AB","伤口渗血","引流液性质","尿量","24h出入量",""],
["跌倒的环境评估有走廊、地面、（）、物品摆放？","","多选题"," ABCD","卫生间","浴室","光线","家具",""],
["护理人员应（）、（）、（）地记录抢救过程。","","多选题"," ABD ","及时","准确","客观","随意",""],
["如遇病人跌倒/坠床，评估病人是否有（）等，做好妥善处理，并立即报告医生，将损伤降到最低。","","多选题"," ABC ","意识丧失","行动障碍","有无损伤","清醒",""],
["深静脉导管滑脱后，观察有无因出血引起血肿压迫气道出现呼吸困难，如有立即（），通知医生配合处理。","","多选题"," ABCD ","保持气道通畅","吸氧","面罩加压给氧","不处理",""],
["凡遇患者有（）、（）、（），应及时汇报医生。","","多选题"," ABC","精神抑郁","悲观","轻身念头","用药错误",""],
["突发昏迷配合抢救时应（）、（）、（）、（）。","","多选题"," ABCD ","开放气道","清除异物","保持呼吸道通畅","吸氧",""],
["昏迷患者留置导尿，以便观察（）、（）和（）等变化。","","多选题"," ABC ","尿量","尿色","尿比重","尿隐血",""],
["突发心脏骤停的患者应密切观察患者（）、（）、（）、（）等变化。","","多选题"," ABCD ","意识","生命体征","瞳孔","尿量变化",""],
["突发心脏骤停患者观察及预防各种并发症， 如（） 、（） 、（）、 （） 、脑水肿等：","","多选题"," ABCD ","按压区域胸痛","胸骨骨折","肋骨骨折","感染",""],
["发生职业暴露后逐级报告（） 、（）、 （）， 并填写“职业暴露个案登记表 ”","","多选题"," ABC ","科主任","护士长","院感办","护理部",""],
["发生化学性职业暴露有哪些：（）、（）、（）。","","多选题"," ABC ","大量吸入","皮肤暴露","粘膜暴露","伤口暴露",""],
["放射性职业暴露风险防范有（）、（）、（）、（）、治疗、心理疏导等。","","多选题"," ABCD ","鉴定","观察","检验","用药",""],
["躁动患者正确使用约束具，()，()（以能插入 1 指为宜），()。","","多选题"," ABC ","方法可靠","松紧适宜","不影响血循环","镇静",""],
["凡遇到() 、() 、() 、()的突发事 件应及时向护理部及总值班报告， 护理部应积极组织人力实施救护,保障设备和物资供应.","","多选题"," ABCD ","重大","复杂","批量","紧急抢救",""],
["多发性创伤做术前准备有哪些：","","多选题"," ABD ","配血","皮试","吸氧","备皮",""],
["多发性创伤立即开辟绿色通道，优先处置伤者。遵循抢救原则，（） 、（）、（）的实施护理抢救措施， 确保抢救的顺利进行， 预防并发症的发生。","","多选题"," ABC ","迅速","准确","有效","尽力",""],
["预防坠积性肺炎时对长期卧床患者定时（）、（），（）、（）。","","多选题"," ABCD ","翻身","拍背","鼓励患者咳嗽","咳痰",""],
["对有自杀倾向的患者，做好家属与陪护人员的安全教育；家属应做好水果刀、剪刀等锐器的保管；对镇静药等特殊药品做到药服到口，落实安全管理，消除安全隐患；护士加强病房巡视。","","多选题"," ABCD ","做好家属与陪护人员的安全教育","家属应做好水果刀、剪刀等锐器的保管","对镇静药等特殊药品做到药服到口","护士加强病房巡视",""],
["对于有导管的患者应如何护理：","","多选题"," ABCD ","导管妥善固定，做好管路标识，发现异常及时处理","在翻身或活动过程中，防止管路折叠、扭曲、滑脱","遵守操作规程，治疗、护理中动作轻柔，注意保护导管","告知各种管路的作用、重要性及注意事项，取得患者的配合",""],
["血管活性药物外渗后以下哪项处理方法错误（ ）。","","多选题","ACD","30%硫酸镁外敷","涂喜疗妥","加强活动，抬高患肢","局部有破溃感染进行清创、换药",""],
["血管活性药物外渗要观察哪些皮肤情况（ ）。","","多选题","ABD ","颜色","疼痛","温度","肿胀",""],
["临床科室发生血管活性药物外渗，护士长要进行科内讨论：（ ）。","","多选题","ABC","分析外渗原因","提出整改措施","加强安全意识","",""],
["发生中心供氧意外停止，护理人员需立即巡查哪类患者（ ）。","","多选题","AB","使用无创呼吸机患者","使用有创呼吸机患者","氧气筒吸氧患者","",""],
["血管活性药物的不良反应有（ ）。","","多选题","ABD","胸痛、呼吸困难、心悸、心律失常","头晕、头痛、恶心、呕吐","腹痛、腹泻","静脉炎",""],
["血管活性药物外渗发生后应给予（ ）。","","多选题"," ABD ","心理护理","安抚患者及家属","尽量不要告知医生","避免矛盾激化",""],
["当意外停电时候，需确保住院患者（）。","","多选题","AC","医疗安全","优质护理","正常生活","正常收治",""],
["心血管药物的不良反应有哪些（）。","","多选题"," ABCD ","胃肠道反应","心脏反应","视觉异常","神经系统反应",""],
["使用心血管药物出现神经系统反应的表现（）。","","多选题","ABC","头痛","头晕","失眠","血压下降",""],
["使用心血管药物前需（）。","","多选题","ABD","告知患者不良反应","告知患者注意事项","告知患者药物配伍禁忌","观察记录生命体征",""],
["使用青霉素类药物出现过敏性休克时，可表现为：（）。","","多选题","ABC","面色苍白","血压降低","大小便失禁","面色潮红",""],
["当患者使用青霉素类药物出现不良反应时应（ ）。","","多选题","ABC","按医嘱处理","及时报告医生","记录在护理记录单上","无需处理，加强观察",""],
["意外停水时需要储备的物品有（ ）。","","多选题","ABC","足够水源","常用器械","急救物品","一次性餐具",""],
["一旦发生意外停水，护理人员立即启动应急预案， 以确保（ ）。","","多选题","ABC","医疗护理工作正常运行","患者饮水正常供应","患者必须生活用水的正常供应","降低停水损失",""],
["以下关于意外停水处理流程与应急预案正确的有（ ）。","","多选题","ACD","病区及相关部门应有储水设备并备用","停水后不用通知水电工维修，等待自然恢复","特殊部门可启动双路供水系统","启用储备水时要合理安排使用",""],
["意外停蒸汽，短时间无法恢复，可（  ）。","","多选题","ABD","电话联系周边医院","派专人、专车、专箱送他院消毒灭菌","继续等待设备恢复","紧急情况使用供应室备用无菌包",""],
["大剂量输注血制品可引起（ ）等循环紊乱。","","多选题","AB","血压下降","休克","皮疹","恶心",""],
["输血及血制品等生物制剂前，应做好（  ）。","","多选题","ABCD","验乙肝两对半、梅毒、艾滋病等相关检查","根据不同生物制剂选择给药方式、输注工具","单独使用，注意配伍禁忌","如呈浑浊、异物沉淀、冻结时不得使用",""],
["血制品等生物制剂快速静脉滴注可引起血管超负荷导致（ ）。","","多选题","AC","过敏反应","发热反应","肺水肿","空气栓塞",""],
["意外停暖后，应（ ）。","","多选题","BCD","继续进行选择性手术","准备取暖用物：取暖器、热水袋、棉被等","对病人做好解释工作","通知修理组，上报院部总值班",""],
["灭火器的正确使用方法有（）。","","多选题","ABCD","取离火情最近的灭火器","喷嘴向下","拔出保险销","将喷嘴朝向火焰根部（距离1.5-2米）",""],
["药物外渗（发疱性药物）处理措施包含立即停止输注并抽吸皮下药液、（  ）。","","多选题","ABCD","根据医嘱解毒或环形封闭","抬高患肢并"," 依药物特性选择敷药方式","处理水泡渗液并包扎",""],
["医院突发火灾，火势较大时的应急处理措施包括（  ）。","","多选题","ACD","切断电源、关闭气源","不必关闭临近火情房间的门窗","配合救火、协助调查","撤出易燃、易爆物品",""],
["细胞毒性药物外渗需要观察皮肤的颜色、温度、感觉，并注意观察患者（ ）。","","多选题","AB","关节活动","外渗远端组织的血运情况","凝血机制","心电图",""],
["细胞毒性药物不良反应有哪些（）。","","多选题","ABCD","恶心、呕吐、腹泻、便秘","未梢神经炎","注射部位肢体麻木","肝肾功能异常",""],
["发生意外泛水时，确保安全，做好以下工作（）。","","多选题","ABCD","放置防滑警示牌","协助维修人员查找原因","及时清扫地面，清除积水","加强巡视，提供帮助",""],
["使用降糖药物前应定期检查血糖、（）。","","多选题","ABCD","尿常规","肝肾功能","眼底视网膜血管、视力","血压及心电图",""],
["皮下注射胰岛素，发生过敏反应的症状有:注射部位红斑、（ ）。","","多选题","ABCD","注射部位肿胀、瘙痒","荨麻疹","血管神经性水肿","偶有过敏性休克",""],
["患者出现低血糖时可表现为交感神经兴奋症状，如（）、饥饿感等。","","多选题","ABC","心悸","手抖","出汗","多尿",""],
["混合使用胰岛素时，应（）并混匀。预混或中效胰岛素使用前（）。","","多选题","AC","先抽吸正规胰岛素、再抽吸长效胰岛素","先抽吸长效胰岛素、再抽吸正规胰岛素","常规摇匀","无需摇匀，直接使用",""],
["肌肉注射时，以下哪些措施可以预防疼痛？","","多选题","ABD","注射前评估和选择好注射部位","使用大小型号适宜的注射器和针头","一次注射量超过5ml","熟练掌握无痛注射技术",""],
["导管相关性静脉血栓的预防措施包括哪些？","","多选题","ABC","采取物理预防措施减少血栓形成","严格遵守无菌操作原则","在B超引导下联合改良赛丁格技术进行穿刺","长时间保留导管以减少血栓风险",""],
["以下哪些措施可以预防空气栓塞？","","多选题","ABCD","输液前检查输液器各连接部是否衔接紧密","排尽输液管内空气","输液过程按时更换、添加药液","加压输液时护士应严密观察，不得离开病人",""],
["静脉治疗中，哪些措施可以预防过敏反应？","","多选题","AB","用药前了解患者药物过敏史","用药过程中加强巡视、观察","发生严重过敏反应，给予吸氧，有过敏性休克者按抗休克处理","一旦发生过敏反应立即更换药液和输液管",""],
["肌肉注射中，哪些措施可以预防针头堵塞？","","多选题","ABC","根据药液的性质选用粗细合适的针头","注射前充分混合药液","注射时保持一定的速度，避免停顿导致药液沉积在针头内","增加注射速度以减少注射时间",""],
["采集静脉血时，以下哪种情况应停止采血（  ）。","","多选题","AC","患者出现头晕、乏力","采血量已达到要求","采血部位出现血肿","采血管内有气泡",""],
["氧中毒的临床表现（  ）。","","多选题"," ABCD ","呼吸增快","恶心、呕吐","烦躁","胸骨下不适",""],
["对于人工气道患者进行口腔护理的目的包括（  ）。","","多选题","ACD","保持口腔清洁，预防口腔感染","促进患者食欲","观察口腔黏膜情况，及时发现并处理病变","去除口腔异味，提高患者舒适度",""],
["采集血气标本以下说法错误的是（  ）。","","多选题","CD","采集动脉血标本应严格执行无菌操作","用血气分析专用注射器采血时，要用负压抽取血液","血气标本凝固不影响结果","垂直按压穿刺部位2～3分钟",""],
["痰液粘稠时可采用下列哪些方法以利痰液吸出（  ）。","","多选题"," AD ","背部叩击","体位引流","增加吸痰次数","雾化吸入",""],
["掌握灌肠溶液的量和（  ），确保灌肠溶液的适宜性，避免对肠黏膜造成过度刺激或损伤。","","多选题"," ABCD ","温度","浓度","流速","压力",""],
["对于（ ）疾病的患者，应避免进行灌肠操作。","","多选题","ABCD ","急腹症","消化道出血","妊娠","严重心血管疾病",""],
["灌肠前全面评估患者的腹部情况，对有（ ）等高危因素的患者需特别注意。","","多选题"," ABC","腹部手术史","肠粘连","肠道炎症","消化道出血",""],
["灌肠中途如有（  ）时，嘱深呼吸及放松腹部肌肉","","多选题"," AB ","腹胀","便意","心慌","出冷汗",""],
["当患者在雾化吸入过程中出现（ ）等及时报告医生，进行对症处理。","","多选题"," AB ","心悸","手部肌肉震颤","气促","血压升高",""],
["为避免留置尿管时尿道黏膜损伤，我们应注意（ ）。","","多选题","ABCDE","熟悉尿道解剖特点，操作动作要轻柔。","用液体石蜡油润滑导尿管","选择粗细合适，质地软的导尿管。","插入速度要缓慢，切忌强行插管，不可来回抽插及反复插管。","插管时延长插入长度，见尿液流出后继续前进5cm 以上，充液后再轻轻拉至有阻力感处，一般为2～3cm。"],
["如何预防患者留置尿管过程中出现血尿（ ）。","","多选题","BCD","约束患者双上肢","防止患者膀胱高度膨胀","防止强行插管、来回抽插及反复插管。","引流管应留出足以翻身的长度，防止患者翻身时过于牵拉导尿管，导致尿道口内附近黏膜及肌肉损伤。",""],
["鼻饲的常见并发症有（ ）。","","多选题","ABCDE","胃食管反流、误吸","鼻饲管堵塞","胃管脱出","胃肠道方面的并发症(恶心、呕吐、腹胀、腹泻、便秘)","皮肤、黏膜损伤"],
["鼻饲过程中一旦发生误吸，应（ ）。","","多选题","ABCD","立即停止营养液的输入","协助患者取右侧卧位，可通过胃管接负压瓶来吸引胃内容物，防止进一步反流。","必要时可使用纤维支气管镜协助清除误吸入气道内的食物或液体。","对于有肺部感染迹象的患者，应及时使用抗菌药物，以预防感染的进一步发展。",""],
["实施物理降温技术时可能出现的并发症有（ ）。","","多选题","ABC","局部冻伤","全身反应","局部压力性损伤","休克",""],
["轴线翻身患者有颈椎损伤时，固定头部的操作者，沿纵轴向上略加牵引，使（  ）一起缓慢移动。","","多选题"," ABC","头","颈椎","躯干","大腿",""],
["植骨块脱落，翻身时头颈躯干保持在同一水平,侧卧时枕高应为肩的宽度,头颈位于中立位，不可（ ）。","","多选题","CD","中立位","卧位","过伸","过屈",""],
["通气过度，及时通知医生调整呼吸支持参数（ ）。","","多选题","ABC","减少潮气量","减慢支持频率","降低触发灵敏度","增加潮气量",""],
["患者有颈椎损伤翻身时，勿（ ）患者的头部。","","多选题","AB","扭曲","旋转","固定","托起",""],
["植骨块脱落术前备（ )于床旁。","","多选题","ABCD","氧气","吸引装置","呼吸气囊","气管切开包",""],
["简易呼吸器使用时，常见并发症有（ ）。","","多选题","ABCD","胃胀气","胃内容物反流","误吸","吸入性肺炎",""],
["动脉有创测压发生缺血及置管时间过长有发生感染的危险时，应（ ）。","","多选题","ABCD","呼叫医生","拔除测压管，应用抗生素","50%硫酸镁湿敷","红外线照射",""],
["发生静脉炎时，遵医嘱采取相应措施，（ ）等。若出现全身症状，遵医嘱使用抗生素。","","多选题","ABC","抬高患肢","制动","停止输注","更换补液",""],
["心肺复苏时，可能会造成（ ）。","","多选题","ABC","肋骨骨折","胃反流","胃膨胀","出血",""],
["输液泵/微量注射泵使用发生药物外渗时，需严密观察穿刺处的局部反应，有无（ ），皮肤颜色有无改变，有无回血。","","多选题","ABC","疼痛","肿胀","外渗","出血",""],
]
  },
  methods:{
  	isUnd(val){
  		return typeof val === 'undefined' || val === ''
  	}
  }
})
</script>
</html>